on:
  push:
    branches: [main]

name: Deploy

defaults:
  run:
    shell: bash

jobs:
  deploy:
    name: Deploy to Azure Functions
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          check-latest: true
      - name: Build
        env:
          GOOS: linux
          GOARCH: amd64
        run: |
          script/build
      - name: 'Login via Azure CLI'
        uses: azure/login@v2
        with:
          # See https://github.com/Azure/functions-action/blob/1d9af80a9ec3e1afcb5537ebc5505a936a5d4585/README.md#use-oidc-recommended
          client-id: ${{ secrets.AZURE_CLIENT_ID }} # Required for OIDC login
          tenant-id: ${{ secrets.AZURE_TENANT_ID }} # Required for OIDC login
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} # Required for OIDC login
      - name: 'Deploy Azure Function'
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ vars.AZURE_FUNCTIONAPP_NAME }}
